<!DOCTYPE html>
<html>

<head>
    <title>
        Chats
    </title>
    <link rel="stylesheet" href="/css/chat.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="content">
                <div class="pic">

                </div>

                <div class="name">

                </div>

                <div class="menu">

                </div>

            </div>

        </div>

        <div class="prev-song">

        </div>

        <div class="chat-screen">
            <ul id="messages">
        </div>

        <div class="send-msg-cont">

            <form class="send-msg" action="">
                <input id="m" autocomplete="off" />
                <button id="send">text</button>
            </form>
            <form class="send-msg" action="">
                <select name="" id="mu" onchange="select()">
                    <option value="indipop.mp3">I am Urban</option>
                    <option value="mn.mp3">Punjabi Mix</option>
                    <option value="punjabi.mp3">Prada</option>
                </select>
            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>